.header-card .picture {
    width: 220px;
}

.header-card .name {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 900;
    padding-top: 15px;
}

.header-card .picture-profile {
    width: 350px;
    height: 220px;
}

.header-card .role {
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
}

.header-card .contact-list {
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header-card a {
    color: rgba(255, 255, 255, 0.6);
}

.header-card a:hover {
    color: white;
    text-decoration: underline;
}

.header-card .secondary-info {
    margin-left: 100px;
    min-width: 350px;
}

.header-card .contact-list__icon {
    font-size: 25px;
    color: white;
    margin-right: 15px;
}

.header-card .social-list {
    padding-left: 150px;
}