@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.logo .logo-title {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    letter-spacing: 3px;
}

.d_menu {
    display: flex;
    justify-content: center;
}

.top-menu-area {
    background: #434E5E;
    border-bottom: 1px solid #ebedf2;
    color: rgba(255, 255, 255, 0.9);
}

.top-menu-area .menu-fullwidth {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 90px;
}

.top-menu-area .logo-top {
    padding: 22px 35px 22px 20px;
    border-right: 1px solid #ebedf2;
    height: 100%;
}

.top-menu-area .menu-fullwidth .menu-container {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

.top-menu-area .d_menu {
    padding-left: 35px;
}

.mainmenu__menu {
    border: none;
    margin: 0;
    padding: 0;
}

.mainmenu__menu .navbar-collapse {
    padding: 0;
    float: left;
}

.mainmenu__menu .navbar-nav > li {
    display: inline-block;
    padding: 17px 0;
    margin-right: 40px;
}

.menu-container .icon-nav-menu {
    margin-right: 5px;
}

.menu-container .menu-list {
    text-transform: uppercase;
    font-family: 'Shadows Into Light', cursive;
    font-size: 24px;
    letter-spacing: 2px;
}

.navbar-nav a:hover,
.navbar-nav a:active {
    color: inherit;
    text-decoration: inherit;
    background-color: transparent;
}